
<link
rel="stylesheet"
href="https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded"/>

<link rel="stylesheet" href="/css/home-view-style.css">
<div class="home-view">
  

  <div class="section-1">
    <div class="section-1-1">
      

      <div class="dotted-collection"></div>

      <div class="home-view-best-style">
        <h1>THE BEST CLOTHING SHOP IN BRADFORD</h1>
      </div>

      <div class="home-view-best-style-details">
        <p>
          WE HAVE VARIETIES OF MEN AND FEMALE CLOTHS WE OFFER QUALITY PRODUCT
          AND FREE DELIVERY IN AN AROUND WEST YORKSHIRE.
        </p>
      </div>

      <div class="home-view-button">
        <a class="home-view-shop-now" href="#">CONTACT US</a>
      </div>
    </div>

  

    <div class="section-1-2">
      <div class="home-view-shape-1">
        <div class="section-1-2-1">
          <div class="dotted-collection"></div>
        </div>
        <div class="section-1-2-2">
          <div class="dotted-collection"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="section-2-1">
    <div class="home-view-shape-2"></div>
  </div>
</div>


<div class="newcollection">
  <div class="container">
    <h1>New Products</h1>
    <p>
      We have the latest collections from well known brands like ZARA, GUCCI,LOUIS VUITTON,
      ADIDAS, NIKE, UMBRO, PUMA, TIMBERLAND and many more.
    </p>

  
    <div class="row">
      <div class="coll-col">
        <img src="../assets/images/shorts.jpeg" alt="shirts" />
        <div class="outerbox">
         
          <h3>TOPS</h3>
        </div>
      </div>
      <div class="coll-col">
        <img src="../assets/images/shorts.jpeg" alt="shirts" />
        <div class="outerbox">
          
          <h3>WINTER CLOTHS</h3>
        </div>
      </div>
      <div class="coll-col">
        <img src="../assets/images/shorts.jpeg" alt="shirts" />
        <div class="outerbox">
         
          <h3>T-SHIRTS</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="dottedcollection"></div>
</div>


<div class="bestdesignavailable">
  <div class="bestdesign-wrap">
   

    <div class="bestdesign-left"></div>

    <div class="dot-holder">
      <div class="dotted-collection"></div>
    </div>


    <div class="bestdesign-right">
      <div class="bestdesign-content">
        <div class="bestdesign-right-content-t">
          <h2>ALL POPULAR DESIGNERS AVAILABE</h2>
        </div>
        <div class="bestdesign-right-content-d">
          <p>
            We have access to all the popular designers on the market. Our products are of high QUALITY
            and we ship to all over the UK and Europe, We give up to 80% discount on most of the products
            we are available 24/7 to cater for your needs!
          </p>
        </div>
      </div>
    </div>
    <div class="bd-bottom-left"></div>

  

    <div class="bd-info">
      <div class="bd-info-d">
        <h4 class="one">2019</h4>
        <p>CDAAH Founded</p>
      </div>
      <div class="bd-info-d">
        <h4 class="two">8600+</h4>
        <p>Products Sold</p>
      </div>
      <div class="bd-info-d">
        <h4 class="three">800</h4>
        <p> Reviews from customers</p>
      </div>
    </div>
  </div>
</div>

<div class="best-seller-section">
  <div class="section-body">
    <div class="section-header">BEST SELLING CLOTHS</div>
    <div class="section-description">
      We give you the best and quality cloths and shoes thats our main aim,
      brands that a re difficult to find on the market is available in our shop.
      You can either buy online or walk in to our shop at Broadway, Bradford.
    </div>
    <div class="section-description">
      We give you the best and quality cloths and shoes thats our main aim,
      brands that a re difficult to find on the market is available in our shop.
      You can either buy online or walk in to our shop at Broadway, Bradford.
    </div>
    <div class="section-description">
      We give you the best and quality cloths and shoes thats our main aim,
      brands that a re difficult to find on the market is available in our shop.
    </div>
    <div class="section-call-to-action">
      <a href="">MORE PRODUCTS</a>
    </div>
  </div>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="6000"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <img
            src="../assets/images/des1.jpg"
            class="card-img-top"
            alt="first slide"
          />
          <div class="card-body">
            <div><strong>CDAAH Founded</strong></div>
            <div><del>£1000</del> <strong>£700</strong></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img
            src="../assets/images/des2.jpg"
            class="card-img-top"
            alt="second slide"
          />
          <div class="card-body">
            <div><strong>CDAAH Founded</strong></div>
            <div><del>£1000</del> <strong>£700 </strong></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img
            src="../assets/images/des3.jpg"
            class="card-img-top"
            alt="second slide"
          />
          <div class="card-body">
            <div><strong>CDAAH Founded</strong></div>
            <div><del>£1000</del> <strong>£700</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ourProducts">
  <h1>Our Products</h1>
  <div class="Product_List">
    <span class="button">&nbsp;Hot&nbsp;</span>
    <span class="button">&nbsp;On Sale&nbsp;</span>
    <span class="button">&nbsp;Trending Now&nbsp;</span>
    <span class="button">&nbsp;New Arrival&nbsp;</span>
  </div>
  <div class="FlexBox">
    <div class="postcard">
      <img src="../assets/images/product1.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>CDAAH Founded</h3>
        <span class="fake-price">£200</span>
        <span class="real-price">£150</span>
      </div>
    </div>
    <div class="postcard">
      <img src="../assets/images/product2.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>CDAAH Founded</h3>
        <span class="fake-price">£200</span>
        <span class="real-price">£150</span>
      </div>
    </div>
    <div class="postcard">
      <img src="../assets/images/product3.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>CDAAH Founded</h3>
        <span class="fake-price">£200</span>
        <span class="real-price">£100</span>
      </div>
    </div>
  </div>
  <div class="FlexBox">
    <div class="postcard">
      <img src="../assets/images/product4.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>Curvz Founded</h3>
        <span class="fake-price">£200</span>
        <span class="real-price">£100</span>
      </div>
    </div>
    <div class="postcard">
      <img src="../assets/images/product5.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>Curvz Founded</h3>
        <span class="fake-price">£200</span>
        <span class="real-price">£100</span>
      </div>
    </div>
    <div class="postcard">
      <img src="../assets/images/product6.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>CDAAH Founded</h3>
        <span class="fake-price">£200</span>
        <span class="real-price">£100</span>
      </div>
    </div>
  </div>
</div>


<div class="dealsDay">
  <div class="deals-container">
    
    
    <div class="left-box">
      <h1>DEAL OF THE DAY</h1>
      <p>
        We have up to 80% of on all products in our shop. We give students discount as well and black friday discount on both in store products and online products.
      </p>
      <div class="image-container">
        <div class="box">
          <h1 class="container-hour">10</h1>
          <p class="hours">Hours</p>
        </div>
        <div class="box">
          <h1 class="container-minute">15</h1>
          <p>Minutes</p>
        </div>
        <div class="box">
          <h1 class="container-second">30</h1>
          <p>Seconds</p>
        </div>
      </div>
      <button>BUY NOW</button>
    </div>

  
    <div class="right-box">
      <img class="big-image" src="../assets/images/deal.jpg" alt="" />
    </div>
  </div>
</div>

